<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <!--Cabecera-->
    <header class="main-head">
        <!--Logo e input-->
        <div class="main-head-top-bar">           
            <div class="logo-div">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo" class="logo-mercado"></a>
            <form action="" class="header-form">
                <input type="text" class="input-search" placeholder="Buscar productos, marcas"><i class="fas fa-search"></i>
            </form>
            </div>
            <h2 class="compra-text"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</h2>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
        <!--barra de busqueda-->
        <nav class="main-head-bottom-bar">
            <ul class="list-left">
                <li><a href="">Ofertas</a> </li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        
            <ul class="list-right">
                <li><a href="/register">Crea tu cuenta <i class="far fa-id-card"> </i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

    </header>
    
    <!--Contenido Principal-->
    
    <main class="main-container">
        <img src="/images/img-home-banner.jpg" alt="banner"class="banner">

        <!--Ultima visita-->
        <section class="product-container">
            <h3 class="product-title">Basado en tu ultima visita</h3>
            <div class="cont-article">
            <article class="product-article">
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafe" class="product-photo">
                <div class="article-description">
                    <i class="fas fa-truck"></i>
                    <div class="div-price">
                    <h2 class="product-price">$6770</h2> 
                    <span class="product-discount">40% off</span>  
                    </div>  
                    <p class="product-text">Cafetera Moulinex</p>
                </div>         
            </article>
            <article class="product-article">
                <img src="/images/img-macbook-pro-2019.jpg" alt="mac" class="product-photo">
                <div class="article-description">
                    <i class="fas fa-truck"></i>
                    <div class="div-price">
                    <h2 class="product-price">$230.000</h2>
                    <span class="product-discount">20% off</span>
                    </div>
                    <p class="product-text">MacBook Pro 2019</p>
                </div>        
            </article>
            <article class="product-article">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-tel" class="product-photo">
                <div class="article-description">
                    <i class="fas fa-truck"></i>
                    <div class="div-price">
                    <h2 class="product-price">$70.500</h2>
                    <span class="product-discount">10% off</span>
                    </div>
                    <p class="product-text">Samsung Galaxy S10</p>
                </div>   
            </article>
            <article class="product-article">
                <img src="/images/img-tv-samsung-smart.jpg" alt="TV" class="product-photo">
                <div class="article-description">
                    <i class="fas fa-truck"></i>
                    <div class="div-price">
                    <h2 class="product-price">$23.200</h2>
                    <span class="product-discount">5% off</span>
                    </div>
                    <p class="product-text">SmartTv Samsung 43"</p>
                </div>
            </article>
        </div>
        </section>
        <!--ofertas-->
        <section class="product-container">
            <h3 class="product-title">Seccion de ofertas</h3>  
            <div class="cont-article">
            <article class="product-article">
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafe" class="product-photo">
                <div class="article-description">
                    <i class="fas fa-truck"></i>
                    <div class="div-price">
                    <h2 class="product-price">$6770</h2>
                    <span class="product-discount">40% off</span>    
                    </div>  
                    <p class="product-text">Cafetera Moulinex</p>
                </div>         
            </article>
            <article class="product-article">
                <img src="/images/img-macbook-pro-2019.jpg" alt="mac" class="product-photo">
                <div class="article-description">
                    <i class="fas fa-truck"></i>
                    <div class="div-price">
                    <h2 class="product-price">$230.000</h2>
                    <span class="product-discount">20% off</span>
                    </div>
                    <p class="product-text">MacBook Pro 2019</p>
                </div>        
            </article>
            <article class="product-article">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-tel" class="product-photo">
                <div class="article-description">
                    <i class="fas fa-truck"></i>
                    <div class="div-price">
                    <h2 class="product-price">$70.500</h2>
                    <span class="product-discount">10% off</span>
                    </div>
                    <p class="product-text">Samsung Galaxy S10</p>
                </div>   
            </article>
            <article class="product-article">
                <img src="/images/img-tv-samsung-smart.jpg" alt="TV" class="product-photo">
                <div class="article-description">
                    <i class="fas fa-truck"></i>
                    <div class="div-price">
                    <h2 class="product-price">$23.200</h2>
                    <span class="product-discount">5% off</span>
                    </div>
                    <p class="product-text">SmartTv Samsung 43"</p>
                </div>
            </article>  
        </div>  
        </section>
    </main>
    <!--contenido footer-->
    <footer class="main-footer">
        <div class="footer-container">
          <section>
              <i class="fas fa-credit-card"></i>
              <h3>Pagá con tarjeta o en efectivo</h3>
              <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
          </section>
          <section>
              <i class="fas fa-gift"></i>
              <h3>Envío gratis desde $ 2.500</h3>
              <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
          </section>
          <section>
              <i class="fas fa-user-shield"></i>
              <h3>Seguridad, de principio a fin</h3>
              <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
          </section>
        </div>
        <section>
          <h3 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
      </footer>
</body>
</html>


