<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro Mercado Liebre</title>
        <link rel="stylesheet" href="/css/register-styles.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    </head>
    <body>
        <!--Cabecera-->
        <!--Cabecera-->
    <header class="main-head">
        <!--Logo e input-->
        <div class="main-head-top-bar">           
            <div class="logo-div">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo" class="logo-mercado">
            <form action="" class="header-form">
                <input type="text" class="input-search" placeholder="Buscar productos, marcas"><i class="fas fa-search"></i>
            </form>
            </div>
            <h2 class="compra-text"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</h2>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
        <!--barra de busqueda-->
        <nav class="main-head-bottom-bar">
            <ul class="list-left">
                <li><a href="">Ofertas</a> </li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        
            <ul class="list-right">
                <li><a href="/register">Crea tu cuenta <i class="far fa-id-card"> </i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

    </header>

        <main class="main-style">
            <form class="create-form" action="/" method="get">

                <h2 class="h2-main">Usuario:</h2>

                <div class="input-container">

                    <div class="user-name-lastName">
                        <label for="name-and-lastName">Nombre y Apellido:</label>
                        <input type="text" name="nombre y apellido" id="name-and-lastName" placeholder="Nombre y apellido" minlength="7" required>
                    </div>


                    <br>

                    <div class="user-name">
                        <label for="nameOfUser">Nombre de usuari@:</label>
                        <input type="text" name="nombre de usuario" id="nameOfUser" placeholder="Nombre de usuario" minlength="5" required>
                    </div>

                </div>

                <br>

                <h2 class="h2-main">Fecha de nacimiento:</h2>

                <div class="input-container">
                    <input class="input-date" type="date" name="birthday" required>
                </div>

                <br>

                <h2 class="h2-main">Dirección:</h2>

                <div class="input-container">
                    <input class="adress-input" type="text" name="adress" id="adress" placeholder="Dirección" required>
                </div>

                <br>

                <h2 class="h2-main">Perfil del usuario:</h2>

                <div class="user-profile">
                    <label class="label-buyer"><input type="radio" name="buy-or-sell" value="Comprar">Comprador</label>
                    <label><input type="radio" name="buy-or-sell" value="Vender">Vendedor</label>
                </div>

                <br>

                <h2 class="h2-main">Intereses:</h2>

                <div class="checkbox-section">
                    <label><input type="checkbox" name="intereses" id="intereses" value="Electro" multiple>
                        Electro</label>
                    <label><input type="checkbox" name="intereses" id="intereses" value="Moda" multiple>
                        Moda</label>
                    <label><input type="checkbox" name="intereses" id="intereses" value="Hogar" multiple>
                        Hogar</label>
                    <label><input type="checkbox" name="intereses" id="intereses" value="Juguetería" multiple>
                        Juguetería</label>
                    <label><input type="checkbox" name="intereses" id="intereses" value="Vida sana" multiple>
                        Vida sana</label>
                </div>

                <br>

                <h2 class="h2-main">Foto de usuario:</h2>

                <div class="input-container">
                    <input type="file" name="avatar" accept=".jpg, .png">
                </div>

                <br>

                <h2 class="h2-main">Contraseña:</h2>
                <div class="input-container">

                    <div class="div-password">
                        <input type="password" name="password" placeholder="Contraseña" required>

                        <br>

                        <input type="password" name="confirm-password" placeholder="Confirmar contraseña" required>
                    </div>
                </div>

                <br>

                <div class="button-style">
                    <button class="button-send" type="submit">Enviar</button>
                    <button class="button-reset" type="reset">Cancelar</button>
                </div>

            </form>
        </main>

        <footer class="main-footer">
            <div class="footer-container">
              <section>
                  <i class="fas fa-credit-card"></i>
                  <h3>Pagá con tarjeta o en efectivo</h3>
                  <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
              </section>
              <section>
                  <i class="fas fa-gift"></i>
                  <h3>Envío gratis desde $ 2.500</h3>
                  <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
              </section>
              <section>
                  <i class="fas fa-user-shield"></i>
                  <h3>Seguridad, de principio a fin</h3>
                  <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
              </section>
            </div>
            <section>
              <h3 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </section>
          </footer>
    </body>
</html>
