@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto"
}

/*header style*/


.main-head {
    background-color: #EAC926;
    padding-bottom: 10px;
}

.main-head-top-bar {
    padding: 20px;
}

.logo-div {
    display: flex;
    align-items: center;
}

.logo-mercado {
    width: 50%;
    padding: 10px;
}

.header-form {
    width: 50%;
    background-color: #FFF;
    padding: 10px;
    border-radius: 5px;
}

.header-form .input-search {
    width: 90%;
    border: #FFF;
}

.header-form i {
    background-color: #FFF;
    color: black;
    width: 10%;
    font-size: 15px;
}

.compra-text {
    font-weight: 50;
    text-align: center;
    font-size: 15px;
}

.main-head-bottom-bar {
    display: none;
}

.main-head-bottom-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-head-bottom-bar a {
    text-decoration: none;
    color: rgb(51, 51, 51);
    display: inline-block;
    padding: 5px 0;
}

.burger-menu {
    background-color: #03264C;
    color: white;
    display: block;
    font-size: 18px;
    text-align: center;
    max-width: 40px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}

/* main style */
.main-style {
    background-color: #ebebeb;
    padding: 20px;
}

main h2 {
    font-size: 19px;
}

label {
    display: none;
}

.input-container input {
    width: 80%;
    border-radius: 8px;
}

.input-container {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center
}

.div-password {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center
}

.checkbox-section label {
    display:block;
    margin: 10px 0px;
}

.user-profile label {
    display: block;
    margin: 10px 0px;
}

.div-password input {
    width: 300px;
}

.button-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.button-send, .button-reset {
    padding:3px 10px;
    border-radius: 10%;
}

.button-send:hover, .button-reset:hover {
    background-color: #0022AA;
    color: white;
}

/*footer style*/

.main-footer section {
    text-align: center;
    margin: 3rem 3rem;
  }
  
.main-footer i {
    color: #1259c3;
    font-size: 2rem;
  }

.footer-container i:hover{
    color: rgb(0, 0, 105);
}

@media(min-width: 768px) {

    /*header*/

    .main-head-top-bar {
        display: flex;
        justify-content: space-between;
    }

    .logo-div {
        width: 60%;
    }
    .compra-text {
        font-size: 20px;
        max-width: 350px;
        text-align: right;
        width: 40%;
    }

    .burger-menu {
        display: none;
    }

    .main-head-bottom-bar {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .main-head-bottom-bar ul {
        display: flex;
        padding: 10px;
    }

    /* main */

    .h2-main {
        position: relative;
        left: 120px;
    }

    .input-container input {
        width: 50%;
    }

    label {
        display: block;
    }

    .user-name-lastName {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .user-name-lastName label {
        margin-right: 10px;
    }
    
    .user-name {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .user-name label {
        margin-right: 10px;
    }

    .input-container .input-date {
        width:35%;
    }

    .input-container .adress-input {
        width: 35%;
    }

    .user-profile {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .user-profile .label-buyer {
        margin-right: 30px;
    }

    .checkbox-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }

    .button-style{
        justify-content: center;
    }

    .button-send {
        margin-right: 20px;
    }

    .div-password input {
        width: 300px;
    }
}

/*media 1200px*/

@media(min-width: 1200px) {

    /*header*/


    .main-head-top-bar,
    .main-head-bottom-bar {
        max-width: 1200px;
        margin: auto;
    }

    .main-head-top-bar {
        align-items: center;
    }

    .compra-text {
        max-width: none;
    }

    .logo-mercado {
        width: 300px;
    }

    .main-head-bottom-bar li {
        margin: 0 10px;
    }

    .main-head-bottom-bar a {
        font-size: 19px;
    }

    /* main */
   .h2-main {
       left: 250px
   }

   .div-password input {
       width: 300px;
   }

   /* footer */
   .footer-container {
    display: flex;
   }

   .copyright {
    text-align: left;
   }
}